@import '../../../variables.scss';

.brand {
  border: 1px solid $secondary-text;
  flex-basis: calc(50% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  transition: box-shadow 0.4s ease;
  &:hover {
    box-shadow: $block-shadow;
  }
}

@include min-width(medium) {
  .brand {
    flex-basis: calc(25% - 15px);
  }
}

.brands {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
