@import '../../../variables.scss';

.breadcrumps {
  border-bottom: 1px solid $secondary-text;
  padding-bottom: 15px;
  li {
    display: inline;
    font-size: 0.75rem;
    &:not(:last-child)::after {
      content: '\203A';
      font-size: 1rem;
      padding: 0 10px;
      color: $secondary-menu-text;
    }
  }
  a {
    color: $secondary-menu-text;
    &:hover {
      color: $secondary-color;
    }
  }
}
